<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>HOMEPAGE</title>
	</head>

	<body>
		<p>WELCOME TO MY WEBSITE</p>
		<a href='/login'>
			<button type='button' name='button'>Login</button>
		</a>
	</body>
</html> 