<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>LOGIN</title>
	</head>

	<body>
		<form class="" action="/login" method="post">
			<input type="text" name="username" placeholder="Username" autocomplete="off">
			<input type="password" name="password" placeholder="Password" autocomplete="off">
			<input type="submit" name="" value="Login">
		</form>
	</body>
</html> 